.swiper-container {
  padding-top: 98px;
  padding-bottom: 150px;
  /* mask-image: radial-gradient(1050px circle at center, black, transparent 60%); */
  mask-image: linear-gradient(
    0.25turn,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 20% 80%,
    transparent 100%
  );
}

@media screen and (max-width: 426px) {
  .swiper-container {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.swiper-container .swiper-wrapper {
  height: 540px !important;
}

.swiper-container .swiper-slide {
  margin: 0 !important;
  width: 480px !important;
  /* border: 1px solid rgba(177, 177, 177, 0.4); */
  /* backdrop-filter: blur(10px); */
}

@media screen and (max-width: 769px) {
  .swiper-container .swiper-wrapper {
    height: 420px !important;
  }
  .swiper-container .swiper-slide {
    width: 380px !important;
  }
  .swiper-container {
    mask-image: linear-gradient(
      0.25turn,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.85) 10%,
      rgba(0, 0, 0, 0.85) 90%,
      transparent 100%
    );
  }
}

@media screen and (max-width: 426px) {
  .swiper-container .swiper-slide {
    width: 250px !important;
  }
  .swiper-container .swiper-wrapper {
    height: 268px !important;
  }
}

.swiper-container .swiper-slide > div {
  height: 100% !important;
}

.swiper-container .swiper-slide > div > img {
  height: 100%;
  object-fit: cover !important;
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  color: white;
}

/* .swiper-button-prev, .swiper-button-next {
    top: auto;
} */

.swiper-button-prev-custom {
  position: absolute;
  left: 8%;
  transform: translateY(25px);
  display: inline;
  cursor: pointer;
}

.swiper-button-next-custom {
  position: absolute;
  right: 8%;
  transform: translateY(25px);
  display: inline;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .swiper-button-prev-custom {
    left: 18%;
  }

  .swiper-button-next-custom {
    right: 18%;
  }
}

/* .swiper-slide[aria-label="6 / 6"] {
    opacity: 0;
    pointer-events: none;
} */

.swiper-slide-prev,
.swiper-slide-next {
  filter: blur(2px);
}

.swiper-slide {
  opacity: 0;
  /* transition: opacity 0.3s ease-in-out; */
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  opacity: 1;
}